<div class="container-fluid" *ngIf="objetivoCompleto">
    <h2>Detalle del objetivo</h2>
    <form [formGroup]="formularioObjetivo">
        <div class="form-group">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-6" style="text-align:center">
                    <label for="nombre">
                    Nombre
                  </label>
                    <input type="text" class="form-control" formControlName="nombre" id="nombre" [ngClass]="{'is-invalid': formularioObjetivo.controls['nombre'].errors}">
                    <small *ngIf="formularioObjetivo.controls['nombre'].errors">Longitud mínima, tres caracteres</small>

                </div>
                <div class="col-md-2" *ngIf="usuarioNoIngeniero">
                    <button class="btn btn-block btn-success" style="position: relative; height: 50%; top: 50%" (click)="Cambiar_nombre_objetivo()">Cambiar</button>    
                </div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-2" style="text-align:center">
                    <label for="fechaInicio">
                      Fecha inicio
                  </label>
                    <input type="text" class="form-control" formControlName="fechaInicio" id="fechaInicio" [ngClass]="{'is-invalid': formularioObjetivo.controls['fechaInicio'].errors}">
                    <small *ngIf="formularioObjetivo.controls['fechaInicio'].errors">Fecha inválida</small>
                </div>
                <div class="col-md-2" style="text-align: center">
                    <label for="fechaFin">
                      Fecha fin
                  </label>
                    <input type="text" class="form-control" formControlName="fechaFin" id="fechaFin" [ngClass]="{'is-invalid': formularioObjetivo.controls['fechaFin'].errors}">
                    <small *ngIf="formularioObjetivo.controls['fechaFin'].errors">Fecha inválida</small>
                </div>
                <div class="col-md-2" *ngIf="usuarioNoIngeniero">
                    <button class="btn btn-block btn-success" style="position: relative; height: 50%; top: 50%" (click)="Replanificar_objetivo()">Cambiar</button>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-2" style="text-align: center">
                    <label for="conseguido">
                      Conseguido(%)
                  </label>
                    <input type="text" class="form-control" formControlName="conseguido" id="conseguido" [ngClass]="{'is-invalid': formularioObjetivo.controls['conseguido'].errors}">
                    <small *ngIf="formularioObjetivo.controls['conseguido'].errors">Conseguido (0-100)</small>
                </div>
                <!-- <div class="col-md-1"></div> -->
                <div class="col-md-5" style="text-align: center">
                        <label for="comEvaluacion">
                          Comentario evaluación(%)
                      </label>
                        <input type="text" class="form-control" formControlName="comEvaluacion" id="comEvaluacion" [ngClass]="{'is-invalid': formularioObjetivo.controls['comEvaluacion'].errors}">
                        <small *ngIf="formularioObjetivo.controls['conseguido'].errors">Conseguido (0-100)</small>
                    </div>
                    <div class="col-md-1">
                    <button *ngIf="usuarioNoIngeniero" class="btn btn-block btn-success" style="position: relative; height: 50%; top: 50%" (click)="Modificar_conseguido()">Evaluar</button>
                </div>
            </div>
            <hr>
        </div>
    </form>
    <br>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-2" *ngIf="usuarioNoIngeniero">
            <button class="btn btn-block btn-success" (click)="Cerrar_objetivo()">Cerrar objetivo</button>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-2" *ngIf="usuarioNoIngeniero">
            <button class="btn btn-block btn-success" (click)="Cancelar_objetivo()">Cancelar objetivo</button>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-2" *ngIf="usuarioNoIngeniero">
            <button class="btn btn-block btn-success" (click)="Terminar_objetivo()">Terminar objetivo</button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-2">
            <button class="btn btn-block btn-danger" (click)="Eliminar_objetivo()">Eliminar objetivo</button>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-2">
            <button class="btn btn-block btn-danger" [routerLink]="['/home', idUsuario]" routerLinkActive="router-link-active">Volver</button>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <h2>Incidencias del objetivo</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr class="table-dark">
                        <td>#</td>
                        <td>Motivo</td>
                        <td>Dias</td>
                    </tr>
                </thead>
                <tbody class="table-bordered">
                    <tr *ngFor="let incidencia of objetivoCompleto.incidencias; let i=index">
                        <td>{{i}}</td>
                        <td>{{incidencia.motivo}}</td>
                        <td>{{incidencia.dias}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-2" style="text-align:center">
            <button class="btn btn-block btn-success" [routerLink]="['/nuevaIncidencia', idObjetivo]" routerLinkActive="router-link-active">Nueva incidencia</button>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <h2>Logs del objetivo</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr class="table-dark">
                        <td>#</td>
                        <td>Usuario</td>
                        <td>Fecha</td>
                        <td>Motivo</td>
                        <td>Fecha fin</td>
                        <td>Dias</td>
                    </tr>
                </thead>
                <tbody class="table-bordered">
                    <tr *ngFor="let log of objetivoCompleto.logs;let i=index">
                        <td>{{i}}</td>
                        <td>{{log.nombreUsuario}}</td>
                        <td>{{log.fechaLog | fechaAFormato}}</td>
                        <td>{{log.motivo}}</td>
                        <td>{{log.fechaFin | fechaAFormato}}</td>
                        <td>{{log.dias}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>